@use '../front/icons';

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-content {
    flex-grow: 1;
  }
}

.table {
  th.full {
    width: 100%;
  }

  td.action {
    padding: 8px 15px 0 15px;
    text-align: right;

    .action-wrapper {
      display: flex;
      gap: 10px;
    }
  }

  tr .draggable {
    padding-left: 50px;
    position: relative;

    &:before {
      @include icons.icon(icons.$icon-drag);
      cursor: pointer;
      font-size: 1.5em;
      left: 15px;
      position: absolute;
      top: 15px;
    }
  }
}
