$apple: #3D8C36;
$black: #000000;
$cornflower: #82C9E3;
$gallery: #EDEDED;
$medium-carmin: #BA3B3C;
$mine-shaft: #222222;
$orchid: #E382DA;
$scorpion: #575757;
$silver: #CDCDCD;
$geebung: #CA971D;
$white: #FFFFFF;

//BACKGROUND
$background-default-color: $white;
$background-light-color: $gallery;
$background-dark-color: $mine-shaft;

$primary-color: $geebung;

//TEXT
$text-default-color: $mine-shaft;
$text-primary-color: $primary-color;

$success-color: $apple;
$error-color: $medium-carmin;
