@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon/icomoon.eot?s4gzd3');
  src:  url('../../fonts/icomoon/icomoon.eot?s4gzd3#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?s4gzd3') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?s4gzd3') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?s4gzd3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-euro:before {
  content: "\e907";
}
.icon-cog:before {
  content: "\e994";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-location:before {
  content: "\e947";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-export:before {
  content: "\e961";
}
.icon-back:before {
  content: "\e967";
}
.icon-user:before {
  content: "\e971";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-more:before {
  content: "\ea0a";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-mail:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-sort-asc:before {
  content: "\e90c";
}
.icon-sort-desc:before {
  content: "\e90d";
}
.icon-sort:before {
  content: "\e90e";
}

$icon-back: "\e967";
$icon-bin: "\e9ac";
$icon-checkmark: "\ea10";
$icon-cross: "\ea0f";
$icon-export: "\e961";
$icon-menu: "\e9bd";
$icon-more: "\ea0a";
$icon-play: "\ea1c";
$icon-sort: "\e90e";
$icon-sort-asc: "\e90c";
$icon-sort-desc: "\e90d";

@mixin icon($icon) {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon;
}
