@use '../color';

#login-page {
  align-items: center;
  background-color: color.$background-dark-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 400px;
  width: 100vw;

  > form {
    align-items: center;
    background-color: color.$white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
