<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                {% block thead %}{% endblock %}
            </tr>
        </thead>
        <tbody class="list">
            {% block tbody %}{% endblock %}
        </tbody>
    </table>
</div>
