@use '../bulma/variables' as bulma;

.gender {
  &--male > i {
    color: bulma.$blue;
  }

  &--female > i {
    color: bulma.$red;
  }
}

.grid-adherent {
  table {
    .gender {
      font-size: 1.5rem;
      padding: 10px 15px 0 15px;
    }
  }
}