@use '../bulma/variables';

.gallery {
  display: flex;
  flex-wrap: wrap;

  .gallery__adherent {
    background-color: variables.$grey-lighter;
    border: 5px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    &--male {
      border-color: variables.$blue;
    }

    &--female {
      border-color: variables.$red;
    }

    > .picture {
      height: 150px;
      margin-bottom: 10px;
      width: 120px;

      > img {
        border: 1px solid variables.$grey-darker;
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }

    > .firstName, .lastName {
      text-align: center;
    }
  }
}