@use '../color';
@use '../icons';

@mixin outline-style {
  border: 1px solid color.$scorpion;
  border-radius: 5px;
  box-shadow: 2px 2px 5px -2px color.$scorpion;
}

@mixin box-style {
  @include outline-style;
  background: color.$white;
  content: '';
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &--checkbox {
    flex-direction: row;
  }

  > label {
    align-self: flex-start;
    padding: 0 12px 5px 0;
    position: relative;

    &.required {
      &:after {
        content: '*';
        color: color.$error-color;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.radio-wrapper {
  display: flex;
  padding-bottom: 5px;

  > label {
    display: block;
    padding-top: 4px;
  }
}

.input-file-wrapper {
  i {
    font-size: 2.2rem;
    padding-left: 10px;
  }
}

.captcha-wrapper {
  .g-recaptcha {
    display: flex;
    justify-content: center;
  }
}

.form-errors {
  > li {
    list-style: none;
    color: color.$error-color;
    padding: 5px 0;
  }
}

input, textarea, select, .button {
  @include outline-style;
  box-sizing: border-box;
  padding: 10px 15px;

  &:focus-visible {
    outline: none;
  }
}

textarea {
  min-height: 5rem;
  resize: vertical;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked,
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  display: none;

  + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;

    &:before {
      @include box-style;
    }

    &:after {
      @include box-style;
      opacity: 0;
    }
  }
}

input[type="checkbox"]:checked + label {
  &:after {
    @include icons.icon(icons.$icon-checkmark);
    border: none;
    background: none;
    color: color.$apple;
    font-size: 1.5rem;
    opacity: 1;
  }
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
  margin-right: 25px;

  &:before {
    border-radius: 100%;
  }
}

input[type="radio"]:checked + label {
  &:after {
    background-color: color.$apple;
    border-color: color.$apple;
    border-radius: 100%;
    opacity: 1;
    transform: scale(0.5);
  }
}

select {
  background-color: color.$white;

  &[multiple="multiple"] {
    padding: 0;
  }

  option {
    padding: 10px 15px;
  }
}

.button {
  background-color: color.$background-dark-color;
  color: color.$text-primary-color;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 30px;
  position: relative;

  &:hover {
    border-color: color.$primary-color;

    &:after {
      box-shadow: inset 0 0 8px 1px color.$primary-color;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.help-text {
  color: color.$scorpion;
  font-style: italic;
  padding: 5px 0;
}

.fieldset {
  border: 1px solid color.$scorpion;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  > label {
    position: absolute;
    background-color: color.$white;
    left: 20px;
    padding: 0 10px;
    top: -11px;
  }
}