@use '../color';
@use '../icons';

@mixin outline-style {
  border: 1px solid color.$scorpion;
  border-radius: 5px;
  box-shadow: 2px 2px 5px -2px color.$scorpion;
}

@mixin box-style {
  @include outline-style;
  background: color.$white;
  content: '';
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &--checkbox {
    flex-direction: row;
  }

  > label {
    align-self: flex-start;
    padding: 0 12px 5px 0;
    position: relative;

    &.required {
      &:after {
        content: '*';
        color: color.$error-color;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.radio-wrapper {
  display: flex;
  padding-bottom: 5px;

  > label {
    display: block;
    padding-top: 4px;
  }
}

.file {
  display: flex;
  width: 100%;

  label.file-label {
    flex-grow: 1;
    max-width: 100%;
    position: relative;

    input[type="file"] {
      border: none;
      box-shadow: none;
      padding-left: 60px;
      max-width: 100%;
      text-overflow: ellipsis;
    }

    .file-cta {
      @include outline-style;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      left: 0;
      padding: 010px;
      position: absolute;
      top: 0;
      width: 100%;

      .file-icon {
        font-size: 2.1rem;
        opacity: 0.7;
      }

      .file-label {
        background-color: color.$white;
        padding: 5px 20px;
      }
    }

    .file-name {
      display: none;
    }
  }

  .download {
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 10px;

    i {
      padding: 0
    }
  }
}

.captcha-wrapper {
  .g-recaptcha {
    display: flex;
    justify-content: center;
  }
}

.form-errors {
  > li {
    list-style: none;
    color: color.$error-color;
    padding: 5px 0;
  }
}

input, textarea, select {
  @include outline-style;
  box-sizing: border-box;
  padding: 10px 15px;

  &:focus-visible {
    outline: none;
  }
}

textarea {
  min-height: 5rem;
  resize: vertical;

  &.large {
    min-height: 20rem;
  }
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked,
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  display: none;

  + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;

    &:before {
      @include box-style;
    }

    &:after {
      @include box-style;
      opacity: 0;
    }
  }
}

input[type="checkbox"]:checked + label {
  &:after {
    @include icons.icon(icons.$icon-checkmark);
    border: none;
    background: none;
    color: color.$apple;
    font-size: 1.5rem;
    opacity: 1;
  }
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
  margin-right: 25px;

  &:before {
    border-radius: 100%;
  }
}

input[type="radio"]:checked + label {
  &:after {
    background-color: color.$apple;
    border-color: color.$apple;
    border-radius: 100%;
    opacity: 1;
    transform: scale(0.5);
  }
}

select {
  background-color: color.$white;

  &[multiple="multiple"] {
    padding: 0;
  }

  option {
    padding: 10px 15px;
  }
}

.select > select {
  width: 100%;
}

.help-text {
  color: color.$text-dark-color;
  font-style: italic;
  padding: 5px 0;
}

.fieldset {
  border: 1px solid color.$scorpion;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  > label {
    position: absolute;
    background-color: color.$white;
    left: 20px;
    padding: 0 10px;
    top: -11px;
  }
}
