@use '../color';
@use '../icons';
@use '../media';

#menu-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  height: 70px;
  justify-content: center;
  padding: 10px 25px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;

  > .menu {
    display: none;
    font-size: 1.8em;
    padding: 0 20px;

    @include media.above(sm) {
      display: flex;
    }

    @include media.below(sm) {
      &.active {
        align-items: center;
        background-color: rgba(color.$background-dark-color, 0.9);
        display: flex;
        flex-direction: column;
        font-size: 3em;
        height: 100vh;
        justify-content: center;
        left: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 11;
      }
    }

    > a {
      padding: 0 20px;
      position: relative;

      > span, i {
        color: color.$primary-color;
        display: block;
      }

      &:hover {
        &:before {
          box-sizing: border-box;
          position: absolute;
          content: '';
          height: 1px;
          width: calc(100% - 40px);
          left: 20px;
          bottom: 0;
          box-shadow: 0 5px color.$primary-color;
        }
      }

      i {
        font-size: 1.2em;
      }

      @include media.above(sm) {
        &:not(:last-child) {
          &:after {
            background-color: color.$primary-color;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
          }
        }
      }

      @include media.below(sm) {
        padding: 20px;
      }
    }
  }

  .menu-burger {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 12;

    &:before {
      @include icons.icon(icons.$icon-menu);
      color: color.$primary-color;
      cursor: pointer;
      font-size: 3.5em;
    }

    &.close {
      position: fixed;

      &:before {
        @include icons.icon(icons.$icon-cross);
      }
    }

    @include media.above(sm) {
      display: none;
    }
  }
}
