@use '../../common/color';

#menu-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px 25px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  > .logo {
    max-height: 100%;
  }

  > .menu {
    font-size: 1.8rem;
    padding: 0 20px;

    > a {
      padding: 0 20px;
      position: relative;

      &:not(:last-child) {
        &:after {
          background-color: color.$text-primary-color;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
        }
      }
    }
  }
}
