@use '../color';
@use '../fonts';
@use '../media';

$default-margin: 50px;

.section {
  line-height: 1.5em;
  margin: $default-margin auto 2 * $default-margin auto;
  max-width: 976px;

  @include media.below(md) {
    padding: 0 $default-margin;
  }

  h2 {
    color: color.$text-dark-color;
    font-family: fonts.$text-title-font;
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: $default-margin;
    text-align: center;

    @include media.below(sm) {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}
