@use '../color';

.basic-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  &__content {
    z-index: 9;

    #login-form, #re-enrollment-form {
      min-height: 400px;

      > form {
        align-items: center;
        background-color: color.$white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px;
      }
    }
  }
}
