@use '../color';
@use '../icons';
@use '../media';

.sporting-slider {
  box-sizing: border-box;
  font-size: 1rem;
  height: 580px;
  overflow: hidden;
  padding-bottom: 50px;
  position: relative;
  width: 100%;

  .swiper-button-prev, .swiper-button-next {
    color: color.$primary-color;

    @include media.below(sm) {
      display: none;
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      height: 20px;
      margin: 0 10px;
      width: 20px;

      &-active {
        background-color: color.$primary-color;
      }
    }
  }

  .sporting-slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 100px);

    @include media.below(sm) {
      width: 100%;
    }

    .title {
      color: color.$text-dark-color;
      font-size: 3em;
      font-weight: 700;
      line-height: 1.5em;
      text-transform: uppercase;

      @include media.below(sm) {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
      }
    }

    .content-wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33%;
        z-index: 9;

        @include media.below(md) {
          width: 50%;
        }

        @include media.below(sm) {
          width: 100%;
        }

        > div {
          align-items: center;
          color: color.$white;
          display: flex;
          justify-content: center;
          flex-grow: 1;
          font-size: 1.6em;
          line-height: 1.6em;
          padding: 20px;
          text-align: center;
          z-index: 9;
        }

        > a.link-icon-button {
          align-self: flex-end;
          display: flex;
          font-size: 1.6em;
          padding: 10px 25px;
          text-transform: uppercase;
          z-index: 9;

          i {
            transform: translateY(-3px) rotate(90deg);
            display: block;
            margin-left: 15px;
          }
        }
      }
    }
  }
}

.sessions {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;

  @include media.below(md) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .session {
    background-color: color.$background-light-color;
    border-radius: 25px;
    box-shadow: 2px 2px 5px -2px color.$scorpion;
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 30px;
    width: 47%;

    @include media.below(md) {
      max-width: 600px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @include media.below(sm) {
      padding: 10px;
    }

    &__city {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;

      > .name {
        font-weight: 700;
        margin-bottom: 20px;
      }

      > .address {
        color: color.$text-light-color;
        font-size: 0.7em;
        font-style: italic;
        padding: 20px 0 10px 0;
        text-align: center;
      }
    }

    &__time {
      padding-left: 10px;

      > li {
        padding: 5px 10px;

        &:before {
          @include icons.icon(icons.$icon-play);
          color: color.$primary-color;
        }

        > ul {
          padding: 10px 10px 10px 30px;

          @include media.below(sm) {
            padding: 10px;
          }

          > li {
            font-size: 0.7em;
            padding: 5px 0;

            &:before {
              @include icons.icon(icons.$icon-checkmark);
              color: color.$primary-color;
              font-size: 0.8em;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.card {
  background-color: color.$background-light-color;
  border-radius: 25px;
  box-shadow: 2px 2px 5px -2px color.$scorpion;
  box-sizing: border-box;
  color: color.$text-dark-color;
  font-size: 1.5em;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 10px;

  &__title {
    font-weight: 700;
    text-align: center;
  }

  &__detail {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    > ul {
      padding: 0 20px;

      > div {
        margin-bottom: 10px;
      }

      > li {
        font-size: 0.7em;
        padding: 5px 0;

        &:before {
          @include icons.icon(icons.$icon-checkmark);
          color: color.$primary-color;
          font-size: 0.8em;
          margin-right: 10px;
        }

        i {
          color: color.$primary-color;
        }
      }
    }
  }

  &.pricing {
    margin-bottom: 20px;
  }

  &.equipment {
    .card__detail {
      > ul {
        &:first-child {
          border-right: 1px solid color.$primary-color;
        }
      }
    }
  }
}
