.sporting-wrapper {
  .section {
    .sporting {
      display: flex;

      &__image {
        flex-grow: 1;
      }

      &__content {
        padding-left: 30px;
        width: 500px;

        > p {
          margin-bottom: 10px;
        }
      }
    }

    &:nth-child(2n) {
      .sporting {
        flex-direction: row-reverse;

        &__content {
          padding-left: 0;
          padding-right: 30px;
        }
      }
    }
  }
}
