$white: #FFFFFF;
$mine-shaft: #222222;
$bright-sun: #FFDE42;
$scorpion: #575757;
$gallery: #EDEDED;

//BACKGROUND
$background-default-color: $white;
$background-light-color: $gallery;
$background-dark-color: $mine-shaft;

//TEXT
$text-default-color: $mine-shaft;
$text-primary-color: $bright-sun;
