{% extends 'front.html.twig' %}

{% block header %}
    {% include 'front/components/_banner-home.html.twig' %}
{% endblock %}

{% block body %}

    <div id="club" class="section">
        <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.section.club'|trans }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci dicta distinctio dolore fuga
            fugiat id illo iusto, libero necessitatibus optio quae sint temporibus. Dignissimos facilis fuga magni modi
            sit!
        </p>
        <p>
            Fugiat perspiciatis voluptas voluptatum? Ab aliquid amet consequatur, cupiditate dolor est fuga incidunt
            ipsum itaque iure magni molestiae nobis perspiciatis possimus quaerat qui quidem ratione rem, repellat saepe
            tempore voluptatem.
        </p>
        <p>
            Aliquam corporis delectus deserunt dolor et illum laboriosam quibusdam sequi sint unde! Alias aliquam,
            aperiam at, blanditiis impedit iste itaque laboriosam neque nihil qui quisquam quod rem tenetur ut vel.
            Aliquam animi beatae dicta dignissimos error, expedita fugiat minima numquam odit quibusdam repudiandae sed
            sequi temporibus, veritatis, voluptate. Atque consectetur corporis, cupiditate quaerat quisquam saepe sint
            veritatis! Iure, laboriosam quod?
        </p>
    </div>

    <div id="sporting" class="section">
        <h2 data-aos="zoom-out">{{ 'front.home.section.sporting'|trans }}</h2>
        <div class="sporting-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmDefense.title'|trans,
                        'image': asset('build/images/km_defense.jpg'),
                        'content': 'front.home.sporting.kmDefense.content'|trans,
                        'link': path('app_sporting')~'#km-defense',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmTraining.title'|trans,
                        'image': asset('build/images/km_training.jpg'),
                        'content': 'front.home.sporting.kmTraining.content'|trans,
                        'link': path('app_sporting')~'#km-training',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.mmaDefense.title'|trans,
                        'image': asset('build/images/mma_defense.jpg'),
                        'content': 'front.home.sporting.mmaDefense.content'|trans,
                        'link': path('app_sporting')~'#mma-defense',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.cardioTraining.title'|trans,
                        'image': asset('build/images/cardio_training.jpg'),
                        'content': 'front.home.sporting.cardioTraining.content'|trans,
                        'link': path('app_sporting')~'#cardio-training',
                    } %}
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="practical-info" class="section">
        <h2 data-aos="zoom-out">{{ 'front.home.section.practicalInfo'|trans }}</h2>
        <div class="sessions">
            <div class="session">
                <div class="session__city">
                    Mogneville
                    <a href="https://www.google.com/maps/search/4+place+jean+jaures+60140+mogneville/@49.3177976,2.4699965,17z/data=!3m1!4b1" target="_blank"><i class="icon-location"></i></a>
                    <div class="address">4 place Jean Jaurès<br/>60140 Mogneville</div>
                </div>
                <ul class="session__time">
                    <li>
                        Lundi
                        <ul>
                            <li>19h30 - 20h30 : KMix-MMA Defense</li>
                            <li>20h30 - 22h30 : Krav Maga Self Defense</li>
                        </ul>
                    </li>
                    <li>
                        Mercredi
                        <ul>
                            <li>19h30 - 20h30 : Cardio Fit Krav</li>
                            <li>20h30 - 22h30 : Krav Defense Training</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="session">
                <div class="session__city">
                    Villers-Sous-Saint-Leu
                    <a href="https://www.google.com/maps/place/23+Rue+du+Castel,+60340+Villers-Sous-Saint-Leu/@49.2142549,2.396175,17z/data=!3m1!4b1!4m5!3m4!1s0x47e648d4a31f8c93:0x7abe632340c2a373!8m2!3d49.2142549!4d2.3983637" target="_blank"><i class="icon-location"></i></a>
                    <div class="address">23 rue du Castel<br/>60340 Villers-Sous-Saint-Leu</div>
                </div>
                <ul class="session__time">
                    <li>
                        Vendredi
                        <ul>
                            <li>19h30 - 20h30 : KMix-MMA Defense</li>
                            <li>20h30 - 22h30 : Krav Maga Self Defense</li>
                        </ul>
                    </li>
                    <li>
                        Samedi
                        <ul>
                            <li>13h00 - 14h00 : Défense Ado (salle 1)</li>
                            <li>13h00 - 14h00 : Défense Femme (salle 2)</li>
                            <li>14h00 - 15h00 : Cardio Fit Krav</li>
                            <li>15h00 - 17h00 : Krav Defense Training</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pricing">
            Tarif : 100 <i class="icon-euro"></i>
        </div>
        <div class="advice">
            Matériel conseillé : coquille, gants, protège-tibia...
        </div>
    </div>

{% endblock %}
