{% extends 'layout/_front.html.twig' %}

{% block title %}Les disciplines du KMIS{% endblock %}

{% block meta %}
    <meta name="keywords" content="actualités krav-maga, stages, forum des associations, portes ouvertes" />
    <meta name="description" content="Suivez des stages pour vous perfectionner dans le domaine des arts martiaux.">
    <meta name="og:title" property="og:title" content="Les disciplines du KMIS">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/sporting.webp'),
        'title': ('front.news.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="news-wrapper">

        <article class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">Forum des associations - Villers-sous-Saint-Leu</h2>
            <div class="news">
                <div class="news__content show-text">
                    <img src="{{ path('app_news_picture_deprecated', {name: 'forum.jpg'}) }}" alt="" class="picture" data-aos="zoom-in" data-aos-duration="1200"/>
                    <span class="news-button"></span>
                    <div class="news-text">
                        <div class="scrollable">
                            <p>Samedi 2 septembre 2023 : Rencontrez l'équipe du KMIS au forum des associations de Villers-sous-Saint-Leu. Découvrez ce qu’est le Krav Maga Impact System en discutant avec les instructeurs, les membres du bureau et les adhérents présents et en observant les démonstrations durant l’après-midi.</p>
                        </div>
                    </div>
                </div>
                <div class="news__detail">
                    <ul>
                        <li>Date : Samedi 2 septembre 2023</li>
                        <li>Adresse : 23 rue du Castel 60340 Villers-sous-Saint-Leu</li>
                    </ul>
                </div>
            </div>
        </article>

        <article class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">Portes ouvertes - Mogneville</h2>
            <div class="news">
                <div class="news__content">
                    <img src="{{ path('app_news_picture_deprecated', {name: 'forum.jpg'}) }}" alt="" class="picture" data-aos="zoom-in" data-aos-duration="1200"/>
                    <span class="news-button"></span>
                    <div class="news-text">
                        <div class="scrollable">
                            <p>Dimanche 3 septembre : Portes ouvertes à Mogneville. Si vous avez loupé la rencontre de la veille, c’est là qu’il faut venir : rencontre, informations et explications, démonstrations, le KMIS ne vous ouvre pas que ses portes, il vous ouvre aussi les yeux.</p>
                        </div>
                    </div>
                </div>
                <div class="news__detail">
                    <ul>
                        <li>Date : Dimanche 3 septembre 2023</li>
                        <li>Adresse : 4 place Jean Jaurès 60140 Mogneville</li>
                    </ul>
                </div>
            </div>
        </article>

        <article class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">Stage Thomas Loubersanes</h2>
            <div class="news">
                <div class="news__content">
                    <img src="{{ path('app_news_picture_deprecated', {name: 'stage_loubersanes.jpg'}) }}" alt="" class="picture" data-aos="zoom-in" data-aos-duration="1200"/>
                    <span class="news-button"></span>
                    <div class="news-text">
                        <div class="scrollable">
                            <p>La saison 2023-2024 va commencer fort !</p>
                            <p>Après un premier stage sous sa direction qui a fait un carton, le KMIS accueille à nouveau le n°1 mondial de grappling 2019, Thomas Loubersanes et cette fois-ci pour un week-end de stage entier, les 7 et 8 octobre.</p>
                            <p>Au choix : le tarif 1 session ou le tarif week-end pour l'expérience complète (2 ou 3 sessions). Trois sessions sont proposées. La première debout en lutte, les deux autres au sol, distinctement en position dessus et dessous.</p>
                            <p>Remise de grade de Luta Livre à la clé.</p>
                            <p>On vous attend pour cet évènement spécial ouvrant une saison explosive.</p>
                            <p>30 places maximum par session (en privilégiant les packs complets). Un conseil : Assurez la vôtre dès maintenant, c’est le moment !</p>
                            <p>Entraînez-vous comme vous voulez vous défendre !</p>
                        </div>
                    </div>
                </div>
                <div class="news__detail">
                    <ul>
                        <li>Date : les 7 et 8 octobre 2023</li>
                        <li>Adresse : 23 rue du Castel 60340 Villers-sous-Saint-Leu</li>
                        <li>Inscriptions et informations complémentaires en cliquant <a href="https://www.helloasso.com/associations/krav-maga-impact-system/evenements/week-end-de-stage-avec-thomas-loubersanes?fbclid=IwAR0fVxmEm3mmu7B4AAvnGN1W5PQiqJbnjAnu5Kh9bt0m7QsQ6viII4eaIvc" target="_blank">ici</a></li>
                    </ul>
                </div>
            </div>
        </article>

    </div>

{% endblock %}
