<section class="banner banner--home with-overlay with-background">
    <img src="{{ asset('build/images/home_02.webp') }}" alt=""/>
    <div class="title-wrapper">
        <img data-aos="fade-right" data-aos-duration="2000" class="logo" src="{{ asset('build/images/logo.svg') }}" alt="Krav Maga Impact System"/>
        <h1 data-aos="fade-left" data-aos-duration="2000">
            <span class="first-line">Krav Maga</span>
            <span class="second-line">Impact System</span>
        </h1>
    </div>
</section>
