<section class="banner with-overlay with-background{% if darkOverlay is defined and darkOverlay %} with-overlay--dark{% endif %}">
    <img src="{{ image }}" alt="{{ title }}"/>
    <div class="title-wrapper">
        <h1 data-aos="fade-up" data-aos-duration="2000">{{ title }}</h1>
        {% if subtitle is defined %}
            <div data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="1200" class="subtitle">
                {{ subtitle }}
            </div>
        {% endif %}
    </div>
</section>
