<footer>
    <a href="#">{{ 'front.footer.link.legalNotices'|trans }}</a>
    <a href="#">{{ 'front.footer.link.privacy'|trans }}</a>
    <a href="#" class="manage-cookies">{{ 'front.footer.link.cookie'|trans }}</a>
</footer>
