<nav>
    <div id="menu">
        <div class="menu--item">{{ 'front.menu.item.club'|trans }}</div>
        <div class="menu--item">{{ 'front.menu.item.sporting'|trans }}</div>
        <div class="menu--item">{{ 'front.menu.item.registration'|trans }}</div>
        <div class="menu--item">{{ 'front.menu.item.contact'|trans }}</div>
    </div>
</nav>
