<footer id="footer">
    <a href="{{ path('app_privacy') }}">{{ 'front.footer.link.privacy'|trans }}</a>
    <a href="#" class="manage-cookies">{{ 'front.footer.link.cookie'|trans }}</a>
    <a href="https://www.referencement-google-gratuit.com/">{{ 'front.footer.link.google'|trans }}</a>
</footer>
