{#
@var string picture
@var string title
@var string subtitle
#}

<header>
    <img src="{{ asset(picture) }}" alt="{{ title }}">

    {% include 'front/components/_menu.html.twig' %}

    <div class="title-wrapper">
        <h1 data-aos="fade-right" data-aos-duration="2000">{{ title }}</h1>
        {% if subtitle is defined %}
            <h2 data-aos="fade-left" data-aos-duration="2000">{{ subtitle }}</h2>
        {% endif %}
    </div>
</header>
