@use '../../common/color';

footer {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: color.$mine-shaft;
  background-size: 16px 16px;
  height: 70px;

  .footer-content {
    align-items: center;
    color: color.$white;
    display: flex;
    font-size: 1.1rem;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}
