@use '../bulma/variables' as bulma;

.form-group {
  > label {
    position: relative;

    &.required {
      padding-right: 12px;

      &:after {
        content: '*';
        color: bulma.$red;
        font-size: 1.5rem;
        line-height: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &--checkbox {
    > label {
      padding-left: 10px;
    }
  }
}

.select {
  display: block;

  select {
    width: 100%;
  }
}

.file {
  display: flex;
  width: 100%;

  label.file-label {
    display: flex;
    flex-grow: 1;

    .file-name {
      background-color: bulma.$input-background-color;
      flex-grow: 1;
      max-width: none;
    }
  }

  .download {
    margin-left: 20px;
  }
}

.radio-wrapper {
  padding-top: 5px;

  > label {
    margin: 0 20px 0 10px;
  }
}

.help-text {
  font-style: italic;
  font-size: 0.9em;
}

.fieldset {
  border: 1px solid bulma.$grey;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  > label {
    position: absolute;
    background-color: bulma.$body-background-color;
    left: 20px;
    padding: 0 10px;
    top: -11px;
  }
}

[data-collection-type] {
  position: relative;

  .add-item{
    position: absolute;
    top: -50px;
    right: 0;
  }

  .remove-item {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .collection-type-item {
    border: 1px solid bulma.$primary;
    padding: 10px 70px 10px 10px;
    position: relative;
    margin-top: 20px;
  }
}
