@use '../../common/color';
@use '../../common/fonts';

header {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: color.$mine-shaft;
  background-size: 16px 16px;
  height: 100px;

  .header-content {
    align-items: center;
    height: 100%;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    width: 100%;

    &__logo {
      height: 100px;
      width: 100px;

      img {
        max-height: 100%;
      }
    }

    &__menu {
      display: flex;
      flex-grow: 1;
      justify-content: center;

      > a {
        padding: 0 20px;
        position: relative;

        &:not(:last-child) {
          &:after {
            background-color: color.$text-primary-color;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
          }
        }
      }
    }

    &__user {
      .username {
        color: color.$white;
      }

      .logout {
        display: block;
        font-size: 0.9rem;
        text-align: right;
        padding-top: 5px;
        width: 100%;
      }
    }
  }
}
