{% block subject %}[KMIS] Demande de contact{% endblock %}

{% block html %}
Bonjour,<br/>
<p>Votre demande de contact a bien été prise en compte.</p>
<p>Cordialement</p>
<p>L'équipe KMIS</p>
<img src="{{ frontBaseUrl ~ asset('build/images/sign.png') }}" alt="KMIS" style="width: 200px;" />
{% endblock %}

{% block text %}
Bonjour,

Votre demande de contact a bien été prise en compte.

Cordialement,

L'équipe KMIS
{% endblock %}
