{% block subject %}Avertissement securité : nouvel utilisateur{% endblock %}

{% block html %}
    Attention,<br/>
    <p>Un nouvel utilisateur a été créé : {{ user.email }}.</p>
{% endblock %}

{% block text %}
    Attention,
    Un nouvel utilisateur a été créé : {{ user.email }}.
{% endblock %}
